/Anaconda Powershell Prompt.lnk
/Git Bash.lnk
/git-cmd.exe - ショートカット.lnk
/gitコマンド他.txt
"/gitコマンド他.txt"
"/git\343\202\263\343\203\236\343\203\263\343\203\211\344\273\226.txt"
/streamlit run webapp.py.txt